<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Event Schedular", '#', id: "logo" %>
       <%= image_tag("images.jpg", :size => "35x35",:alt => "image_not_loading",id:"logoimg") %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",  root_path %></li>
         <li><%= link_to "sign out", signup_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<br><br><br><br>

<h1>Profile details</h1>
<%= form_for :user, url: session_update_path(@user), method: :patch do |f| %>
 
  
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  
 
    <%= f.label :phonenumber %><br>
    <%= f.telephone_field :phonenumber %><br>

    <%= f.submit %>
  
 
<% end %>
 