  <header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Event Schedular", '#', id: "logo" %>
       <%= image_tag("images.jpg", :size => "35x35",:alt => "image_not_loading",id:"logoimg") %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",  root_path %></li>
         <li><%= link_to "sign out", signup_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<br><br><br><br>

<%= button_to "Create new event", new_event_path, :class => "button", :method => :get  %>

</span><br>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div>
        <% @event.each do |e| %>
          <div class="well">
             <strong>Event : </strong><%= link_to e.event_name, '#' %><br>
             <strong>Organiser :</strong><%= User.find(e.owner_id).firstname%> <br>
            <a href="#" data-toggle="modal" data-target="#myModal-<%= e.id%>">Participents</a><br><br>
            <%= link_to 'Edit Event ', event_edit_path(e) ,"class" => "addevent btn btn-primary"  %>  
            <%= link_to 'Delete Event ', '#' ,"class" => "addevent btn btn-primary"  %>
            <div class="status">
            <% if e.status==nil %>
            <div>
              <span class="green-back white-color">open</span> 
            </div>
        <%else %>
         <div>
          <span class="red-back white-color">open</span> 
        </div>   
    <% end %>
  </div>

      <div class="container">

        <div class="modal fade" id="myModal-<%= e.id%>" role="dialog">
          <div class="modal-dialog">
          <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Event : <%= e.event_name  %> </h4>
              </div>
              <div class="modal-body">
              <% e.users.each do |u|%>
              <%= u.firstname%>
              <% end %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
</div>

