<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Event Schedular", '#', id: "logo" %>
       <%= image_tag("images.jpg", :size => "55x55",:alt => "image_not_loading",id:"logoimg") %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",  root_path %></li>
         <li><%= link_to "sign in", signup_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<br><br><br><br><br>
<h1>Sign up</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for :user, url: '/users' do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
          <h2>
            <%= pluralize(@article.errors.count, "error") %> prohibited
            this article from being saved:
          </h2>
          <ul>
            <% @user.errors.full_messages.each do |msg| %>
              <li> <%= msg %></li>
            <% end %>
          </ul>
      </div>
  <% end %>


      <%= f.label :firstmame %>
      <%= f.text_field :firstname %>

       <%= f.label :lastname %>
      <%= f.text_field :lastname %>

 	    <%= f.label :username %>
      <%= f.text_field :username %>

      <%= f.label :email %>
      <%= f.text_field :email %>

       <%= f.label :phonenumber %>
      <%= f.text_field :phonenumber %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %> <br>

      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
       </div>
</div>

    <% end %>
 